table thead th {
    padding: 0.5rem;
    border-bottom: 1px solid #1E1E1E;
    font-weight: bold;
    font-size: 1.1rem;
    text-align: start;
}

tfoot tr td {
    border-top: 1px solid #1E1E1E;
    padding: 0.5rem;
    font-size: 1.1rem;
}

h1 {
    text-align: center;
}

.order-heading > h2 {
    color: #EA2AD7;
}

.order-heading {
    text-align: center;
    margin-bottom: 1rem;
}

.OrderDetail {
    padding: 1rem;
    margin: 1rem 10rem;
    border: 1px solid #F0F0F0;
    border-radius: 3px;
    background-color: #F0F0F0;
}

.date {
    background-color: #EA2AD7;
    padding: 0.25rem;
    opacity: 40%;
    border-radius: 3px;
}

@media (min-width: 550px) and (max-width: 747px) {
    .OrderDetail {
        margin: 1rem 4rem;
    }
}

@media (max-width: 549px) {
    .OrderDetail {
        margin: 1rem 0.5rem;
        padding: 0.2rem;
    }
}